SECRET_KEY=your-super-secret-key-here
DJANGO_SETTINGS_MODULE=config.settings.development
DB_NAME=drawtwo
DB_USER=postgres
DB_PASSWORD=postgres
FRONTEND_URL=http://localhost:3000
FRONTEND_EMAIL_CONFIRM_URL=http://localhost:3000/auth/email-confirm
IOS_APP_LOGIN_URL=http://localhost:3000/app/login
IOS_LOGIN_URL_SCHEME=drawtwo://login
